.idea
coco_train/
CV_Project_Dataset/
!CV_Project_Dataset/DataSet.ipynb
data/
Images/
msrvtt-train/
msrvtt-train-cross/
msrvtt-train-cross-ft/
CV_Project_Dataset.zip
__pycache__
pycocoevalcap/cider/__pycache__
pycocoevalcap/meteor/__pycache__