.idea
coco_train/
CV_Project_Dataset/
!CV_Project_Dataset/DataSet.ipynb
data/
Images/
msrvtt-mlp/
msrvtt-train/
msrvtt-train-cross/
msrvtt-train-cross-ft/
msrvtt-train-ft/
msrvtt-train-cross-4/
cross_length5/
cross_length10/
cross_length20/
cross-length1/
self_length1/
self_length5/
self_length10/
self_length20/
CV_Project_Dataset.zip
__pycache__
pycocoevalcap/cider/__pycache__
pycocoevalcap/meteor/__pycache__
pycocoevalcap/bleu/__pycache__
pycocoevalcap/rouge/__pycache__
pycocoevalcap/tokenizer/__pycache__